html {
	background-color: black;
}
body {
	color: white;
}
#loginsplash {
	background-color: rgba(60,60,60,0.6);
}
textarea, select, input[type=text], input[type=password], input[type=number] {
	color: white;
	background-color: transparent;
}
textarea[disabled], select[disabled],
input[type=text][disabled], input[type=password][disabled], input[type=number][disabled] {
	/*background-color: rgba(242,250,250,0.5) !important;*/
}
select option,
select optgroup {
	background-color: black;
}
.tipicon {
	background-color: rgba(255,255,255,1);
	border-radius: 4px;
}
#logo {
	background-image: 	url('../img/logo.dark.svg');
}
