/* map-only and maps list-only style definitions */
#maplist > * {
	display: block;
	margin-bottom: 10px;
}
#maplist > *:last-child {
	margin-bottom: 0px;
}
#mapcontainer {
	margin: 0px;
	margin-top: 60px;
	text-align: left;
	position: absolute;
	cursor: move;
}
#mapcontainer, #mapcontainer * {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.switchonmaplink, .anchor {
	position: absolute;
}
